/src/Services/SPVChannels/SPVChannels.API.Rest/obj
/src/Services/SPVChannels/SPVChannels.API.Rest/bin
/src/Services/SPVChannels/SPVChannels.API/*.user
/src/Services/SPVChannels/SPVChannels.Domain/obj
/src/Services/SPVChannels/SPVChannels.Domain/bin
/src/Services/SPVChannels/SPVChannels.Database/obj
/src/Services/SPVChannels/SPVChannels.Database/bin
/src/Services/SPVChannels/SPVChannels.Infrastructure/obj
/src/Services/SPVChannels/SPVChannels.Infrastructure/bin
/src/Services/SPVChannels/SPVChannels.Test.Functional/obj
/src/Services/SPVChannels/SPVChannels.Test.Functional/bin
/demo/notify/shell/node_modules/**
/demo/notify/shell/package-lock.json
/Release/**
/build/**
/src/.vs/**
/client/javascript/build/**
/client/javascript/dist/**
/client/javascript/doc/**
/client/javascript/node_modules/**
/client/javascript/package-lock.json
/client/javascript/examples/node/build/**
/client/javascript/examples/web/www/**
/test/build/**
/test/node_modules/**
/src/Services/SPVChannels/SPVChannels.API/appsettings.Development.json
/src/Services/SPVChannels/.aspnet
deploy
/install/setup_CA.sh
**/*.user
